{% extends 'instagram/base.html' %}
{% load bootstrap3 %} {% load static %}

{% block content %}
<div class="content-section">
    <div class="media">
        <img src="{{user.profile.profile_photo.url}}" alt="">
        <div class="media-body">
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secondary">{{user.profile.bio}}</p>
        </div>
    </div>
    
        <div class="form-group">
            <form  method="POST">
                
                {% csrf_token %}

                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <button type="submit" class="btn btn-seconadry">Update Profile</button>
            </form>
        </div>
</div>

{% endblock %}