{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if title %}
    <title>Project Reviews</title>
    {% else %}
    <title>Project Reviews App</title>
    {%endif%}
    {% include 'navbar.html' %}
    {% block style %}
    {% bootstrap_css %}
        
    {% endblock %}
   

</head>
<body>
  
    {% block content %}{% endblock %}
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 {% bootstrap_javascript %}
{% endblock %}
</body>
</html>