{% extends 'awards/base.html' %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

{% block content %}
<div class="container-fluid" style="padding-top: 90px; background-color: #023047">
    <div class="container" style="padding-top: 90px;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <h1 style="text-transform: capitalize;">{{project.project_title}}</h1>
                <img src="{{project.project_image.url}}" alt="" style="height: 400px ;width: 500px;">
            </div>
            <div class="col-md-4" style="padding-top: 90px;" >
                <h2>Project Description</h2>
                <p>{{project.project_description}}</p>
                <hr>
                <button class="btn btn-md btn-warning"><a href="{% url 'delete_project' project.id %}">Delete</a></button>
            </div>
    
    
        </div>
    </div>
    </div>

{% endblock %}