{% extends 'awards/base.html' %}
{% load bootstrap3 %} {% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Project Review</title>
  {{form.media}}

{% block styles %} {% bootstrap_css %}
 {% endblock %}
</head>

<body>
<div class="container" style="padding-top: 100px;">
  <form  id="form" action="" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {% bootstrap_form rating_form.as_p %}
    <input type="submit" class="btn btn-success btn-md" value="Rate">
  </form>

   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}
</div>

</body>

</html>
